<div class="container-fluid">
<!--<h3 id="title">code</h3>-->
 <div class='line'></div><br>
    <div id="codebox" class="container-fluid">
        
            <img id="codepic" class="img-responsive" src="/depot_jp.jpg">
            <img id="codelogopic" class="img-responsive" src="/depotuni.png">
            <!--<div class="container">
                <div class="row">
                    <div class="col-xs-6">-->
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div id="pagenav" class="btn-group" role="group">
                                <a href="http://depotu.io"><button type="button" class="btn btn-default pageBut">Depot/U</button></a>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="https://github.com/buffalofeathers"><button type="button" class="btn btn-default pageBut">GitHub</button></a>
                            </div>
                            <div class="btn-group" role="group">
                                <a href="https://www.linkedin.com/in/jesse-payne-31975349"><button type="button" class="btn btn-default pageBut">LinkedIn</button></a>
                            </div>
                        </div>
                    <!--</div>
                </div>
            </div>-->
            <br><br>
            <div class="bio"><br>I am a certified Full Stack web developer, a composer, singer/songwriter and a recording artist at CMI Records. I have spent the last decade recording albums and touring the United States. In 2014, I decided to finish my undergraduate degree in music at Birmingham Southern College and graduated Magna Cum Laude. Upon graduating as a classically trained guitarist in May of 2016, I decided to research different avenues in which to apply creativity. Through discussions with friends, I learned about the course at Depot/U. I had designed websites early in my music career and had limited experience with HTML and CSS. I wanted to know more. The opportunity to learn full stack development excited me for many reasons. I hope to be able to apply my knowledge of acoustics and music with web development and to continue seeking new possibilities in technology and the arts.<br><br>
            
        <a href="https://www.dropbox.com/s/oo728bj2rlg4bdy/ResumeJessePayne.pdf?dl=0"><button type="button" class="btn btn-default resBut">resume</button></a>
         </div>
            
        
        <div id="credits">database: mongoDB | mySQL<br>
            languages: javascript | HTML | CSS | jQuery | nodeJS | angularJS<br>
            development tools: Visual Studio Code | Adobe Photoshop</div>
        </div><br>
  <div class='line'></div>
</div>
  <br><br>