 <div class="pages">
  <div>
   <h3 id="createU"><center>Create User</center></h3>
    <!--create input boxes with email and password, confirm password, firstname and lastname-->
    <!--ng click on button to  create()... for create button-->
    <div class="eachBlog">
      <div class="padding">
        <p><input type="email" id="titlebox" placeholder="email" ng-model="email"></p>
        <p><input type="email" id="titlebox" placeholder="confirm email" ng-model="confirmemail"></p>
        <p><input type="password" id="titlebox" placeholder="password" ng-model="password"></p>
        <p><input type="password" id="titlebox" placeholder="confirm password" ng-model="confirmPW"></p>
        <p><input type="firstname" id="titlebox" placeholder="first name" ng-model="firstname"></p>
        <p><input type="lastname" id="titlebox" placeholder="last name" ng-model="lastname"></p>
      </div>   
      <div class="padding">
        <button class="regBut btn btn-default" ng-click="create()">Create</button>
      </div>
    </div>
   <!--<h3 id="createU">Create User</h3>-->
    <!--create input boxes with email and password, confirm password, firstname and lastname-->
    <!--ng click on button to  create()... for create button-->
    <!--<input type="email" id=emailbox placeholder="email" ng-model="email">
    <input type="email" id=confirmEmail placeholder="confirm email" ng-model="email">
    <input type="password" id=pwbox placeholder="password" ng-model="password">
    <input type="password" id=confirmPassword placeholder="confirm password" ng-model="password">
    <input type="firstname" id=firstnamebox placeholder="first name" ng-model="firstname">
    <input type="lastname" id=lastnamebox placeholder="last name" ng-model="lastname">

    <button ng-click="create()">Create</button>-->
  </div>
</div>