<div class="container-fluid">
  
    <h3 id="title">Jesse Payne: A Life of Blocks</h3>
        <div class='line'></div>
            <div class="relative">
                <a href="/music">
                    <div class="block btn btn-default z-depth-2">                
                        <div class="divtext container-fluid">music</div>
                    </div>
                </a>
                <a href="/code">
                    <div class="blocktoo btn btn-default z-depth-2">
                    <div class="divtext container-fluid">code</div>
                    </div>
                </a>
                <a href="/literature">
                    <div class="blockright btn btn-default z-depth-2">
                    <div class="divtext container-fluid">literature</div>
                    </div>
                </a>
                <a href="/interests">
                    <div class="blockleft btn btn-default z-depth-2">
                    <div class="divtext container-fluid">interests</div>
                    </div>
                </a>
            </div>
        <div class='line'></div>
        

        </div>
</div>
    </div>







</div>