<div class="container-fluid">
<!--<h3 id="title">interests</h3>-->
    <div class='line'></div><br><br>
        <!--<div class="relative">-->
            <div id="interestsbox" class="container-fluid">
                    
                <div id="interestpix">
                    <div class="logoblock" class="img-responsive">
                        <!--<img src="/interests.jpeg">-->
                    </div>
                    <div class="logoblocktoo" class="img-responsive">
                        <!--<img src="/lake.jpg">-->
                    </div>
                    <div class="logoblockright" class="img-responsive">
                        <!--<img src="/lake.jpg">-->
                    </div>
                
                    <div class="logoblockleft" class="img-responsive">
                        <!--<img src="/lake.jpg">-->
                    </div>
                </div>
            
        <!--</div>-->
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <a href="https://www.instagram.com/jessepayne/"><button type="button" class="btn btn-default pageBut">Instagram</button></a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="https://www.pinterest.com/jessepaynemusic/"><button type="button" class="btn btn-default pageBut">Pinterest</button></a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="http://jessepayneonline.blogspot.com"><button type="button" class="btn btn-default pageBut">Blog</button></a>
                        </div>
                    </div><br><br>
                <div class="bio"> <br>
                I sit shaking into the ether. Every inch of my being trembles. From electricity? Anticipation? Magnetic fields? Love? It’s hard to know which of these direct the shake. The steady shake of life.
                While the branches break atop the canopy, leaves fall. Unless gold implies wealth, which we all seek, the hue of change summons the winter freeze. Acorns of sound ignoring the humbleness of nature make the current state its own. Accept the truth. Embrace it as it comes but question its very core. Explain your purpose for all its glory as you comprehend the expansion of the multiverse and what that means to society’s grasp on the youthful mind.
                    <br><br>
                    education: Birmingham-Southern College - Magna Cum Laude, Bachelor of Arts; Classical Guitar, Piano | Depot/U - Full Stack Web Development<br><br>
                    interests: family | science | architecture | photography | cinematography | acoustics | education | technology | design | writing | nature<br><br>
                    "All labor that uplifts humanity has dignity and importance and should be undertaken with painstaking excellence."<br>
                    -- Martin Luther King, Jr.<br><br>
                    "A person who never made a mistake never tried anything new."<br>
                    -- Albert Einstein</div>
            </div>
        </div>
    </div><br>
  <div class='line'></div>
</div>
  <br><br>