 <div class='line'></div><br>
    <div id="musicbox" class="container-fluid">
        <div>
            <img id="musicpic"src="/D_Lunsford.jpg">
            <img id="logopic" src="/ascap.png">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <a href="http://www.jessepayneonline.com"><button type="button" class="btn btn-default pageBut">Website</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="https://open.spotify.com/artist/6NQ7QH4hR3YviZbPOFSomR"><button type="button" class="btn btn-default pageBut">Spotify</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="http://www.facebook.com/jessepayneonline"><button type="button" class="btn btn-default pageBut">Facebook</button></a>
                    </div>
                </div><br><br>
            <div class="bio">Jesse Payne stems from a soil deep in the Southeastern region of the United States. He nests in scenic views of trees and mountains blending into valleys of skyscrapers and barns. Alabama and the Appalachian trail provide the canvas for his yellow shade of timeless polaroids transposing over lake and swing. A lifestyle suggesting an inheritance of owls and their nocturnal solitude. His sound and sight each born from a landscape of heavy cotton hands and autumn chairs.<br>

Upon returning to his home in early 2007, after cutting his teeth touring the eastern coastal region for a couple of years, Jesse Payne delivered the EP, Beyond the Leaves. The EP earned him a spot in The Big Takeover's Top 40, alongside Band of Horses, Death Cab For Cutie, and Willie Nelson. Payne released his debut full-length album, Nesting (Capture Music Inc.) on November 10, 2010. The album reached #3 in California on KDVS radio and stayed in the College top 30 across the United States for six consecutive weeks. The year following the release of Nesting was full of studio sessions and tour dates. On October 4, 2011, Payne released the Buffalo EP (Capture Music Inc.) alongside the Kettle & Crow DVD (Capture Music Inc.).<br>

His latest, HEIRLOOM (Capture Music Inc.), released in the summer of 2015.<br><br>
Jesse Payne describes his music as minimalist chamber folk or "post-folk" in the likes of Maps and Atlases, Akron/Family, Megafaun, and Red House Painters. He has been featured in the Big Takeover Mag's top 40 alongside Band of Horses,Death Cab For Cutie and Willie Nelson and tours the USA.</div>
        </div></div><br>
  <div class='line'></div>
</div>
  <br><br>