<div class="container-fluid">
<!--<h3 id="title">literature</h3>-->
 <div class='line'></div><br><br>
    <div id="literaturebox" class="container-fluid">
        <div>
            <img id="musicpic"src="/literature.JPG" class="img-responsive">
            <img id="logopic" src="/cright.gif" class="img-responsive">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <a href="http://jessepayneonline.blogspot.com/2015/08/letters-from-american-soldier.html"><button type="button" class="btn btn-default pageBut">Poetry</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="http://jessepayneonline.blogspot.com/2012/12/entitled-to-our-ignorance.html"><button type="button" class="btn btn-default pageBut">Editorial</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="http://jessepayneonline.blogspot.com/2010/10/day-5-of-nesting.html"><button type="button" class="btn btn-default pageBut">Short Story</button></a>
                    </div>
                </div><br><br>
            <div class="bio"><br>Creative Writing has been a lifelong journey through revelation and acceptance. I believe in exploration while remaining planted in tradiition.  Words contain color as well as sonic triggers that can reach the deepest
                sections of the human consciousness. I view creative writing as another form of visual art.  Each word painted from the pallettes.  Phrasing and space add to the emotional and cognitive moments that have the potential to last a lifetime.  
                Over the course of my songwriting career, I have kept up with different forms of creative writing.  Poetry, editorials, short stories, word games, exercises, and even a novel that may or may not ever see the light. I have gathered these words in
                notebooks with the plan of releasing them one day.  Until that day comes, I post a handful each year on my blog. <br>
                <br>Languages fascinate me.  Each with its own inflection.  I enjoy the puzzles of spoken and written word.  They have a monumentous effect upon the way I write my music and the way I write code.  Each completely different from the other, yet all of them; languages.<br><br>
 Favorite Writers: Walt Whitman| Flannery O'Connor| Bob Dylan| James Joyce | Philip Jose Farmer | Lawrence Ferlinghetti </div>
        </div></div><br>
  <div class='line'></div>
</div>
  <br><br>