
<div class="eachBlog">
    <div class="padding">
        <input id="titlebox" type="email" ng-model="email" placeholder="email"><br>
        <input id="titlebox" type="password" ng-model="password" placeholder="password"><br>
    </div>
        <div>
            <button class="btn btn-default" ng-click="login()">Login</button>
        </div>
</div>
<!--
<input type="email" ng-model="email" placeholder="email"><br>
<input type="password" ng-model="password" placeholder="password"><br>
<button ng-click="login()">Login</button>-->

