 <div class='line'></div><br>
    <div id="musicbox">
        <div>
            <img id="memberpic"src="/member.jpg" class="img-responsive">
            <img id="logopic" src="/ascap.png" class="img-responsive">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <a href="http://www.jessepayneonline.com"><button type="button" class="btn btn-default pageBut">Website</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="https://open.spotify.com/artist/6NQ7QH4hR3YviZbPOFSomR"><button type="button" class="btn btn-default pageBut">Spotify</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="http://www.facebook.com/jessepayneonline"><button type="button" class="btn btn-default pageBut">Facebook</button></a>
                    </div>
                </div><br><br>
            <div class="bio">Thank you for your membership! Here are some free downloads to show our appreciation!<br><br>
Jesse Payne describes his music as minimalist chamber folk or "post-folk" in the likes of Maps and Atlases, Akron/Family, Megafaun, and Red House Painters. He has been featured in the Big Takeover Mag's top 40 alongside Band of Horses,Death Cab For Cutie and Willie Nelson and tours the USA.</div>
        </div>
            <div class="btn-group" role="group">
                <a href="http://noisetrade.com/jessepayne/heirloom"><button type="button" class="btn btn-default pageBut">Downloads</button></a>
            </div>
        </div><br>
  <div class='line'></div>
</div>
            
  <br><br>
  