<div class="container-fluid">
<!--<h3 id="title">music</h3>-->
 <div class='line'></div><br>
    <!--<div class="container-fluid">-->
        <div id="musicbox">
        <div class="container-fluid">
            <img id="buffalopic"src="/buffalofeathers.jpg" class="img-responsive">
            <img id="logopic" src="/ascap.png" class="img-responsive">
                <div class="btn-group btn-group-justified" role="group">
                    <div id="musicbut" class="btn-group" role="group">
                        <a href="http://www.sonicbids.com/buffalofeathers"><button type="button" class="btn btn-default pageBut">EPK</button></a>
                    </div>             
                    <div id="musicbut" class="btn-group" role="group">
                        <a href="http://www.facebook.com/buffalofeathersmusic"><button type="button" class="btn btn-default pageBut">Facebook</button></a>
                    </div>
                    <div id="musicbut" class="btn-group" role="group">
                        <a href="/jp"><button type="button" class="btn btn-default pageBut">Jesse Payne</button></a>
                    </div>
                </div>
                <br><br>
            <div class="bio"><br>Buffalo Feathers is a project created from the mind of Jesse Payne.  The band is signed to Silent Crow Records and is currently writing for the first EP release.  Buffalo Feathers is currently playing mostly cover gigs to produce income to put towards the production of the EP and tour that will follow.<br><br>
                BUFFALO FEATHERS covers Golden \ Road \ Daughters of the Soho Riots \ Panic \ Major Label Debut \ It Ain’t Me Babe \ Tonight, I’ll be Staying Here With You \ Tambourine Man \ It Takes A lot to Laugh \ Girl From the North Country \ You Ain’t Going Nowhere \ Atlantic City \ Dancing in the Dark \ Well, Alright \ It’s So Easy \ Jolene \ Reasons To Quit \ Country Roads \ Back Home Again \ Some Days Are Diamonds \ Gold in the Air \ You Will \ Lua \ Glenn Tipton \ Blue Indian \ Heart of Gold \ The Needle and the Damage Done \ She’s a Jar \  Oh My Sweet Carolina \ Suspicious Minds \ Sloop John B \ Flume \ OMGCD \ The Darkest Side \ 17 \ Homeward Bound \ The Nest \ Fade Into You \ Born on a Train \ Green Eyes \ I Will Follow You Into the Dark \ Enjoy the Silence <br><br>

            Singing to offset the slaughter and working on the first EP.</div>
        </div>
        </div>
  <div class='line'></div>
</div>
  <br><br>
   