<div class="container-fluid">
<!--<h3 id="title">code</h3>-->
 <div class='line'></div><br>
    <div id="codebox">
        <div>
            <img id="codepic"src="/depot_jp.jpg">
            <div id="codelogopic" class="heading">
                <p class="name">Jesse Payne</p>
                <p class="info">1227 Regal Avenue, Birmingham, Alabama 35213 </p>
                <p class="info">(205) 422-0353 jessepayne@gmail.com </p>
                
            </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <a href="http://depotu.io"><button type="button" class="btn btn-default pageBut">Depot/U</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="https://github.com/buffalofeathers"><button type="button" class="btn btn-default pageBut">GitHub</button></a>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="https://www.linkedin.com/in/jesse-payne-31975349"><button type="button" class="btn btn-default pageBut">LinkedIn</button></a>
                    </div>
                </div><br><br>
            <div class="bio">

PROFILE<br><br>
▪ Thorough knowledge of music, music industry, artistic design, web development and creative writing<br>
▪ Longtime member of American Society of Composers, Artists, & Performers (ASCAP)<br>
▪ Extensive managerial, organizational, artistic design, performance, and sound engineering experience<br>
▪ Strong public speaking and performance based skills - Web development and design skills<br>
▪ Excellent presentation skills - Strong leadership and motivational abilities<br>
▪ Responsible - Punctual - Determined - Personable - Team Player - Quick Learner - Self Starter<br>
EDUCATION
Birmingham Southern College, Birmingham, AL / 2016
▪ Bachelor of Arts Degree in Music
▪ Magna Cum Laude - Dean’s List - Pi Kappa Lambda Music Honor Society
▪ Association of Music Students - Recipient of the Alice Ragsdale Norton Scholarship
▪ Concert Choir - Jazz Band (Guitarist) - Classical Guitar Trio - Classical Guitar - Piano Coursework ▪ Concert Choir Leadership Award
DepotU - Innovation Depot, Birmingham, AL / 2016
▪ Certification for Full Stack Web Development
▪ HTML/CSS - JavaScript - jQuery - AngularJS - NodeJS - Command Line - Git - SQL - ExpressJS
Mississippi State University, Starkville, MS / 1998
▪ Kappa Sigma Fraternity
Mountain Brook High School, Birmingham, AL / 1996
▪ Drama Club - Spanish Club - Varsity Baseball - Junior Varsity Basketball
EXPERIENCE
Master Digi Records, Birmingham, AL / 2001-Present
▪ Owner / Producer / Engineer / Artist
▪ Composed, organized and implemented copyright through the Library of Congress
▪ Oversaw Artist and Repertoire (A&R) - Managed, collected and paid artist royalties
▪ Coordinated and oversaw artist bank account - Balanced artist expense budgets
▪ Proficient in LOGIC and LOGIC PRO X - Worked with ProTools, Cakewalk and GarageBand ▪ Affiliated with ASCAP
Payne Music Instruction, Birmingham, AL / 2002-Present
▪ Piano and Guitar Instructor
▪ Created specific lesson plans for various levels of proficiency
▪ Demonstrated knowledge in musical theory to facilitate better understanding of instrument ▪ Utilized effective teaching, instructional, and motivational skills
￼￼￼￼
Jesse Payne 2
Jesse Payne, Birmingham, AL / 2002-Present
▪ Recording Artist / Producer / Engineer / Band Manager / Event Coordinator / Booking Agent
▪ Signed to Capture Music, Inc. Record Label - Co-Producer and copyright owner
▪ Performed various public relations and event planning functions - Videographer
▪ Coordinated various campaigns and promotional efforts - Oversaw tour budget
▪ Booking Agent - Tour Manager - Hospitality coordinator - Strategic planning and routing for tours
▪ Organized travel plans for the band and employees while on tour
▪ Designed, created and promoted all social media - Artist image for all promotional material
▪ Engineered all demos for final preparation - songwriter - composer - musician
▪ Utilized effective organizational, planning, administrative, problem-solving, and leadership skills
Jesse Payne, Birmingham, AL / 2002-Present
▪ Freelance Musician
▪ Pianist, organist and utility musician for Canterbury Methodist Church (Contemporary Service) ▪ Hired for guitar, piano, drums, percussion, omnichord, and harmonica
▪ Classically trained guitarist and vocalist - College level training for piano
▪ Utilized punctuality, preparedness, social skills and patience
Jesse Payne, Birmingham, AL / 2002-Present
▪ Songwriter / Composer / Poet
▪ Owner of Silent Crow Record Label - Head of A&R - In charge of promotions ▪ Disciplined wordsmith - Educated in advanced musical theory - Sonic painter ▪ Affiliated with ASCAP
Jesse Payne, Birmingham, AL / 2002-Present
▪ Web Developer
▪ Designed websites for band - Artistic layout design
▪ Social Media - Email list spreadsheet - Image Design
▪ HTML/CSS - JavaScript - jQuery - AngularJS - NodeJS - Command Line - Git - SQL - ExpressJS
Leitman, Siegal, & Payne Law Firm, Birmingham, A:L / 2003-14
▪ Office Assistant - Courier
▪ Oversaw production and mailed firm semi-monthly newsletter
▪ Courthouse Filings - Probate Court - Assisted in research of cases ▪ Served subpoenas - Organized filings - Oversaw relocation of firm ▪ Trusted with deliveries of crucial documents to clients</div>
            
        
           
            
        </div>
        <div id="credits">database: mongoDB | mySQL<br>
            languages: javascript | HTML | CSS | jQuery | nodeJS | angularJS<br>
            development tools: Visual Studio Code | Adobe Photoshop</div>
        </div><br>
  <div class='line'></div>
</div>
  <br><br>